<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../dist/style.css">
  <link rel="stylesheet" href="../dist/style.css">
</head>
<body>
  <main>
    <div class="order-history">
      <div class="order-history-header">
        <p>商品</p>
        <div>
          <p>価格(税込)</p>
          <p>数量</p>
        </div>
      </div>
      <div class="order-history-contents">
        <ul class="order-history-list">
          <li>
            <div class="order-history-title">
              <img src="/assets/images/menu/menu-item.webp" alt="menu-image">
              <p>少なめライス 【喫茶店のプリン味】</p>
            </div>
            <p>税込<span>¥2,400</span></p>
            <p>1</p>
            <p class="prepared">ご用意中</p>
          </li>
          <li>
            <div class="order-history-title">
              <img src="/assets/images/menu/menu-item.webp" alt="menu-image">
              <p>少なめライス 【喫茶店のプリン味】</p>
            </div>
            <p>税込<span>¥2,400</span></p>
            <p>1</p>
            <p class="prepared">ご用意中</p>
          </li>
          <li>
            <div class="order-history-title">
              <img src="/assets/images/menu/menu-item.webp" alt="menu-image">
              <p>少なめライス 【喫茶店のプリン味】</p>
            </div>
            <p>税込<span>¥2,400</span></p>
            <p>1</p>
            <p class="delivered">お届け済み</p>
          </li>
          <li class="option">
            <p>どっさり青ネギ</p>
            <p>税込<span>¥121</span></p>
            <p>1</p>
            <p class="delivered">お届け済み</p>
          </li>
        </ul>
        <div class="carousels-container">
          <div class="carousels">
            <div>
              <img src="/assets/images/icons/arrow-icon.svg" alt="arrow-icon">
            </div>
            <div>
              <img src="/assets/images/icons/arrow-icon.svg" alt="arrow-icon">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-history-button">
      <p>合計金額<span>¥ 3,256</span>(税込)</p>
      <button>会計に進む</button>
    </div>
    <div class="order-history-footer">
      <a href="/app/templates/menu/src/index.html">
        <div id="backBtnContainer"></div>
      </a>
      <div id="callBtnContainer"></div>
    </div>

    <dialog id="CallModalContainer"></dialog>
  </main>
  <script type="module" src="../../dist/script.js"></script>
  <script type="module" src="../dist/script.js"></script>
</body>
</html>