<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../dist/style.css">
  <link rel="stylesheet" href="../dist/style.css">
</head>
<body>
  <main>
    <div class="main-contents">
      <div class="order-history">
        <div class="order-history-header">
          <p>商品</p>
          <div>
            <p>価格(税込)</p>
            <p>数量</p>
          </div>
        </div>
        <div class="order-history-contents">
          <ul class="order-history-list">
            <li>
              <div class="order-history-title">
                <img src="/assets/images/menu/menu-item.webp" alt="menu-image">
                <p>少なめライス 【喫茶店のプリン味】</p>
              </div>
              <p>税込<span>¥2,400</span></p>
              <p>1</p>
              <p class="delivered">お届け済み</p>
            </li>
            <li>
              <div class="order-history-title">
                <img src="/assets/images/menu/menu-item.webp" alt="menu-image">
                <p>少なめライス 【喫茶店のプリン味】</p>
              </div>
              <p>税込<span>¥2,400</span></p>
              <p>1</p>
              <p class="delivered">お届け済み</p>
            </li>
            <li>
              <div class="order-history-title">
                <img src="/assets/images/menu/menu-item.webp" alt="menu-image">
                <p>少なめライス 【喫茶店のプリン味】</p>
              </div>
              <p>税込<span>¥2,400</span></p>
              <p>1</p>
              <p class="delivered">お届け済み</p>
            </li>
            <li class="option">
              <p>どっさり青ネギ</p>
              <p>税込<span>¥121</span></p>
              <p>1</p>
            </li>
          </ul>
          <div class="carousels-container">
            <div class="carousels">
              <div>
                <img src="/assets/images/icons/arrow-icon.svg" alt="arrow-icon">
              </div>
              <div>
                <img src="/assets/images/icons/arrow-icon.svg" alt="arrow-icon">
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1 class="confirmation-message">注文内容をご確認の上、お会計ボタンを押してください</h1>
      <div class="accounting-buttons">
        <button>
          <a href="/app/templates/menu/src/index.html">キャンセル</a>
        </button>
        <button class="accountingBtn">お会計</button>
      </div>
    </div>
    <div class="completed">
      <h1>ご利用ありがとうございました</h1>
      <h1>伝票を持ってレジへお進みください</h1>
      <img src="/assets/images/staff.png" alt="staff-image">
    </div>
  </main>
  <script type="module" src="../../dist/script.js"></script>
  <script type="module" src="../dist/script.js"></script>
</body>
</html>