@import "../../_variables";

.order-history {
  width: calc(100vw - 40px);
  margin: 0 auto;
}

.order-history-header {
  display: flex;
  justify-content: left;
  gap: 552px;
  width: 100%;
  font-size: $h2;
  color: $white-color;
  background: $gray-700;
  border-radius: 12px;
  padding: 24px 72px;
  margin-top: 32px;

  div {
    display: flex;
    gap: 40px;
  }
}

.order-history-contents {
  display: flex;
}

.order-history-list {
  width: 1128px;
  margin-top: 16px;

  li {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 56px;
    width: 100%;
    height: 112px;
    border-bottom: solid 1px $gray-300;

    img {
      width: 144px;
      height: 80px;
      border-radius: 12px;
    }

    p:nth-of-type(1) {
      font-size: $h3;

      &>span {
        margin-left: 8px;
        font-size: $h2;
      }
    }

    p:nth-of-type(2) {
      font-size: $h1;
      margin: 0 96px 0 16px;
    }
  }
}

.prepared {
  font-size: $normal;
  color: $accent-dark-color;
}

.delivered {
  font-size: $normal;
  color: $main-color;
}

.order-history-title {
  display: flex;
  align-items: center;
  gap: 32px;

  p {
    width: 400px;
    font-size: $h3;
    color: $black-color;
  }
}

.option {
  height: 76px !important;

  p:nth-of-type(1) {
    width: 560px;
    font-size: $normal !important;
  }

  p:nth-of-type(2) {
    font-size: $normal !important;
    margin: 0 64px 0 16px !important;

    &>span {
      font-size: $h3;
      margin-left: 8px;
    }
  }

  p:nth-of-type(3) {
    font-size: $h2 !important;
  }

  .delivered {
    margin-left: 104px !important;
  }
}

.carousels-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.carousels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;

  div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: $gray-300;
    border-radius: 28px;
    cursor: pointer;

    img {
      rotate: -90deg;
    }
  }

  div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: $gray-700;
    border-radius: 28px;
    cursor: pointer;

    img {
      rotate: 90deg;
    }
  }
}

.confirmation-message {
  font-size: $h1;
  color: $black-color;
  text-align: center;
  margin: 48px 0;
}

.accounting-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 72px;
    border-radius: 12px;
    box-shadow: $drop-shadow-bottom__dark;
    background: $white-color;
    font-size: $h2;
    color: $black-color;

    &:nth-of-type(2) {
      background: $main-color;
      color: $white-color;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.completed {
  display: none;
  color: $black-color;
  text-align: center;
  padding: 120px 0 0 0;

  h1 {
    font-size: $h1;

    &:nth-of-type(2) {
      margin: 24px 0 16px 0;
    }
  }

  img {
    width: 368px;
    height: 560px;
  }
}