@charset "UTF-8";
@import "./_variables";

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $white-color;
  font-family: "Inter", "Noto Sans JP", "Yu Gothic", "Meiryo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

main {
  height: 100%;
}

dialog {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out,
    overlay 0.3s ease-out allow-discrete,
    visibility 0.3s ease-out;

  &[open] {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  &::backdrop {
    background-color: rgb(0 0 0 / 0%);
    transition:
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete,
      background-color 0.7s;
  }
}