@charset "UTF-8";
@import "./_variables";

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $white-color;
  font-family: "Inter", "Noto Sans JP", "Yu Gothic", "Meiryo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

main {
  height: 100%;
}