@import "../../_variables";

main {
  position: absolute;
  top: 0;
  width: 100%;
  background: url(/assets/images/menu/menu-bg.jpg) no-repeat center center;
  background-size: cover;
}

.start-button {
  display: flex;
  width: 384px;
  height: 88px;
  margin: 88px auto;
  color: $white-color;
  font-size: $h1;
  background: $main-color;
  align-items: center;
  justify-content: center;
  border-radius: 44px;
}