@import "../../../../../app/templates/variables";

.takeout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  background: $white-color;
  color: $black-color;
  font-size: $normal;
  border-radius: 8px;
  box-shadow: $drop-shadow-small;

  &.active {
    background: $main-dark-color;
    color: $white-color;
  }
}