@import "../../../../../app/templates/_variables";

.accounting-modal {
  width: 1000px;
  height: 600px;
  background: $white-color;
  border-radius: 20px;
  
  h1 {
    font-size: $h1;
    color: $black-color;
    text-align: center;
    margin: 216px auto 72px auto;
  }
}

.accounting-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  font-size: $h2;
  color: $black-color;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 72px;
    box-shadow: $drop-shadow-bottom__dark;
    border-radius: 12px;

    &:nth-of-type(2) {
      color: $white-color;
      background: $main-color;
    }
  }
}