@import "../../../../../app/templates/_variables";

.category-menu {
  width: calc(100% - 188px);
  height: 184px;
  background: $white-color;

  ul {
    display: flex;
  }

  li {
    cursor: pointer;
  }

  &.hidden {
    display: none;
  }
}

.main-category {
  ul {
    gap: 8px;
    padding: 8px 8px 0 8px;
    color: $black-color;
    font-size: $normal;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 172px;
      height: 80px;
      background: $white-color;
      border-top: solid 2.5px $gray-400;
      border-right: solid 2.5px $gray-400;
      border-left: solid 2.5px $gray-400;
      border-radius: 8px 8px 0 0;

      &.active {
        border: none;
        background: $main-color;
        color: $white-color;
      }
    }
  }
}

.sub-category {
  display: flex;
  align-items: center;
  height: 96px;
  background: $main-color;
  color: $black-color;
  font-size: $medium;

  ul {
    gap: 16px;
    padding: 16px 20px;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 64px;
      background: $gray-100;
      border-radius: 12px;
      box-shadow: $drop-shadow-small;

      &.active {
        background: $main-dark-color;
        color: $white-color;
      }
    }
  }
}

.takeout-main-category-item {
  border: none !important;
  background: $main-color !important;
  color: $white-color;
}
