<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../dist/style.css">
  <link rel="stylesheet" href="../dist/style.css">
</head>
<body>
  <main>
    <div id="CategoryMenuContainer"></div>

    <div>
      <div>
        <!-- カルーセル -->
      </div>

      <div>
        <!-- メニュー一覧 -->
      </div>

      <div>
        <!-- カルーセル -->
      </div>
    </div>

    <div class="footer">
      <div id="TakeoutBtnContainer"></div>
      <div id="AccountingBtnContainer"></div>
      <div id="CallBtnContainer"></div>
      <div id="OrderBtnContainer"></div>
    </div>

    <div class="order-basket">
      <div class="order-basket-head">注文カゴ</div>

      <div class="order-basket-contents">
        <ul id="OrderBasketList">
          <li class="order-basket-item">
            <p>少なめライス</p>
            <p>¥2,400</p>
          </li>
          <li class="order-basket-item">
            <p>少なめライス</p>
            <p>¥2,400</p>
          </li>
          <li class="order-basket-item">
            <p>少なめライス</p>
            <p>¥2,400</p>
          </li>
          <li class="order-basket-item">
            <p>少なめライス</p>
            <p>¥2,400</p>
          </li>
          <li class="order-basket-item">
            <p>少なめライス</p>
            <p>¥2,400</p>
          </li>
          <li class="order-basket-item">
            <p>少なめライス</p>
            <p>¥2,400</p>
          </li>
          <li class="order-basket-item">
            <p>少なめライス</p>
            <p>¥2,400</p>
          </li>
          <li class="order-basket-item">
            <p>少なめライス</p>
            <p>¥2,400</p>
          </li>
        </ul>
        <div class="order-basket-footer">
          <div id="OrderHistoryBtnContainer"></div>
        </div>
      </div>
    </div>
  </main>
  <script type="module" src="../../dist/script.js"></script>
  <script type="module" src="../dist/script.js"></script>
</body>
</html>