@import "../../../../../app/templates/_variables";

.menu-detail-modal {
  width: 1000px;
  height: 600px;
  background: $white-color;
  border-radius: 20px;
  padding: 16px 42px 32px 42px;

  &.show {
    opacity: 1;
    transform: scale(1);
  }

  >div:nth-of-type(1) {
    position: relative;
    display: flex;
  }

  .content.current {
    display: block;
  }

  .content:not(.current) {
    display: none;
  }
}

.menu-detail-stepbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 520px;
  height: 104px;
  margin: 0 auto 32px auto;
  z-index: 1;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 32px;
      height: 16px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 22px;
      background: $white-color;
      border: solid 3px $gray-700;
      text-align: center;
      margin: 8px 0 16px 0;
    }

    button>img {
      display: none;
    }

    &.current {
      button {
        background: $main-dark-color;
        border: solid 3px $main-dark-color;
        color: $white-color;
      }
    }

    &:not(.current):not(.completed) {
      img {
        display: none;
      }

      button {
        margin-top: 24px;
      }
    }

    &.completed {
      img {
        display: none;
      }

      button {
        background: $main-dark-color;
        border: solid 3px $main-dark-color;
        margin-top: 24px;

        img {
          display: block;
          width: 36px;
          height: 36px;
        }

        span {
          display: none;
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 64px;
    width: 416px;
    height: 5px;
    background: $gray-700;
    border-radius: 2.5px;
    z-index: -1;
  }
}

.menu-detail-contents {
  display: flex;
  gap: 76px;

  img {
    width: 420px;
    height: 230px;
    border-radius: 16px;
  }

  .menu-detail-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 0 0 8px;
    margin-top: 20px;
    color: $black-color;

    p {
      color: $gray-700;
    }

    h3,span {
      font-size: $h3;
    }
  }

  .menu-detail-description {
    color: $black-color;
    font-size: $normal;
    line-height: 24px;
    margin-bottom: 62px;
  }

  .allergies-info {
    .allergies-contents {
      display: flex;
      gap: 24px;
      background: $white-color;
      border: solid 1px $gray-300;
      border-radius: 6px;
      padding: 8px 16px;
      margin: 24px 0 0 0;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
      }

      p {
        font-size: $small;
      }
    }

    img {
      width: 32px !important;
      height: 32px !important;
    }
  }
}

.menu-detail-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

/*  
  components内から別のコンポーネントを呼び出せなかったので、ここにボタンのスタイル書いてます

  TODO: ↑これなんとかしろ
*/

.close-button {
  position: absolute;
  top: 8px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 120px;
  height: 60px;
  background: $gray-100;
  color: $black-color;
  font-size: $normal;
  border-radius: 8px;
  box-shadow: $drop-shadow-small;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  background: $gray-100;
  color: $black-color;
  font-size: $normal;
  border-radius: 8px;
  box-shadow: $drop-shadow-small;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  background: $main-color;
  color: $white-color;
  font-size: $normal;
  border-radius: 8px;
  box-shadow: $drop-shadow-small;
}

.add-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 60px;
  background: $main-color;
  color: $white-color;
  font-size: $normal;
  border-radius: 8px;
  box-shadow: $drop-shadow-small;
}
