@import "../../../../../app/templates/_variables";

.menu-detail-modal {
  width: 1000px;
  height: 600px;
  background: $white-color;
  border-radius: 20px;
  padding: 16px 42px 32px 42px;

  &.show {
    opacity: 1;
    transform: scale(1);
  }

  >div:nth-of-type(1) {
    position: relative;
    display: flex;
  }

  .content.current {
    display: block;
  }

  .content:not(.current) {
    display: none;
  }
}

.menu-detail-stepbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 520px;
  height: 104px;
  margin: 0 auto;
  z-index: 1;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 32px;
      height: 16px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 22px;
      background: $white-color;
      border: solid 3px $gray-700;
      text-align: center;
      margin: 8px 0 16px 0;
    }

    button>img {
      display: none;
    }

    &.current {
      button {
        background: $main-dark-color;
        border: solid 3px $main-dark-color;
        color: $white-color;
      }
    }

    &:not(.current):not(.completed) {
      img {
        display: none;
      }

      button {
        margin-top: 24px;
      }
    }

    &.completed {
      img {
        display: none;
      }

      button {
        background: $main-dark-color;
        border: solid 3px $main-dark-color;
        margin-top: 24px;

        img {
          display: block;
          width: 36px;
          height: 36px;
        }

        span {
          display: none;
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 64px;
    width: 416px;
    height: 5px;
    background: $gray-700;
    border-radius: 2.5px;
    z-index: -1;
  }
}

/* ========== ↓ step1 ↓ ========== */

.menu-detail-contents {
  display: flex;
  gap: 76px;
  margin-top: 36px;

  img {
    width: 420px;
    height: 230px;
    border-radius: 16px;
  }

  .menu-detail-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 0 0 8px;
    margin-top: 20px;
    color: $black-color;

    p {
      color: $gray-700;
    }

    h3,span {
      font-size: $h3;
    }
  }

  .menu-detail-description {
    color: $black-color;
    font-size: $normal;
    line-height: 24px;
    margin-bottom: 62px;
  }

  .allergies-info {
    .allergies-contents {
      display: flex;
      gap: 24px;
      background: $white-color;
      border: solid 1px $gray-300;
      border-radius: 6px;
      padding: 8px 16px;
      margin: 24px 0 0 0;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
      }

      p {
        font-size: $small;
      }
    }

    img {
      width: 32px !important;
      height: 32px !important;
    }
  }
}

/* ========== ↓ step2 ↓ ========== */

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: $gray-100;
  border-radius: 12px;
  padding: 12px 8px;
  margin-top: 16px;
}

.options-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: $main-dark-color;
  width: 36px;
  height: 120px;
  border-radius: 18px;

  &:nth-of-type(1) img {
    rotate: 180deg;
  }
}

.options-contents ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;

  li {
    position: relative;
    width: 168px;
    height: 152px;
    color: $black-color;
    background: $white-color;
    border-radius: 8px;
    box-shadow: $drop-shadow-bottom__dark;
    box-sizing: content-box;
    cursor: pointer;

    img {
      width: 100%;
      height: 96px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: $small;
      padding: 8px 12px;
      gap: 8px;
    }

    span {
      color: $gray-500;
    }

    input {
      appearance: none;
      position: absolute;
      top: 8px;
      right: 8px;
      width: 24px;
      height: 24px;
      background: $white-color;
      border: solid 1px $gray-700;
      border-radius: 12px;
      cursor: pointer;

      &:checked {
        background: $gray-700;
      }

      &:checked::after {
        content: "";
        position: relative;
        top: 3px;
        left: 3px;
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url("/assets/images/icons/small-check-icon.svg") no-repeat center center;
      }
    }

    &.checked {
      box-shadow: 0 0 0 3px $gray-700; /* borderだと中央寄せ出来なかったのでbox-shadowで */
    }
  }
}

.options+.menu-detail-buttons {
  display: flex;
  align-items: end;
  margin-top: 20px;

  img {
    width: 144px;
    height: auto;
    border-radius: 8px;
  }
}

.menu-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: $medium;
  color: $black-color;

  &>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  span {
    color: $gray-500;
  }
}

/* ==========　↓ step3 ↓ ========== */

.quantities {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}

.menu-contents {
  width: 464px;
  height: fit-content;
  background: $gray-100;
  padding: 14px 16px;
  border-radius: 16px;

  >img {
    width: 432px;
    height: auto;
    border-radius: 8px;
  }

  .menu-name {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 16px;
    font-size: $normal;
    color: $black-color;

    >div:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    span {
      font-size: $medium;
      color: $gray-700;
    }
  }
}

.quantity-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 120px;
  height: 36px;
  background: $gray-200;
  border-radius: 18px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: $main-dark-color;
    border-radius: 12px;
    font-size: $normal;
    color: $black-color;
  }
}

.selected-options {
  width: 432px;
  color: $black-color;

  h2 {
    font-size: $h2;
    padding: 4px 0 20px 24px;
  }

  ul {
    height: 280px;
    border-top: solid 1px $gray-300;
    overflow-y: scroll;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 100%;
    height: 128px;
    background: $white-color;
    padding: 20px 24px;
    border-bottom: solid 1px $gray-300;

    >div {
      display: flex;
    }
  }
}

.option-name {
  gap: 24px;
}

.option-buttons {
  justify-content: space-between;

  >button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 36px;
    background: $white-color;
    border: solid 1.5px $black-color;
    border-radius: 18px;
  }
}

.quantities+.menu-detail-buttons {
  margin-top: 24px;

  >div {
    display: flex;
    gap: 24px;
    align-items: end;
    color: $black-color;
  }

  h2 {
    font-size: $h2;
  }

  h1 {
    font-size: $h1;
  }

  span {
    font-size: $h3;
    color: $gray-500;
  }
}

/*  
  components内から別のコンポーネントを呼び出せなかったので、ここにボタンのスタイル書いてます

  TODO: ↑これなんとかしろ
*/

.menu-detail-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 120px;
  height: 60px;
  background: $gray-100;
  color: $black-color;
  font-size: $normal;
  border-radius: 8px;
  box-shadow: $drop-shadow-small;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  background: $gray-100;
  color: $black-color;
  font-size: $normal;
  border-radius: 8px;
  box-shadow: $drop-shadow-small;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 60px;
  background: $main-color;
  color: $white-color;
  font-size: $normal;
  border-radius: 8px;
  box-shadow: $drop-shadow-small;
}

.add-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 60px;
  background: $main-color;
  color: $white-color;
  font-size: $normal;
  border-radius: 8px;
  box-shadow: $drop-shadow-small;
}
