@import "../../_variables";

/* ========== ↓ contents ↓ ========== */

.order-history {
  width: calc(100vw - 40px);
  margin: 0 auto;
}

.order-history-header {
  display: flex;
  justify-content: left;
  gap: 552px;
  width: 100%;
  font-size: $h2;
  color: $white-color;
  background: $gray-700;
  border-radius: 12px;
  padding: 24px 72px;
  margin-top: 32px;

  div {
    display: flex;
    gap: 40px;
  }
}

.order-history-contents {
  display: flex;
}

.order-history-list {
  width: 1128px;
  margin-top: 16px;

  li {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 56px;
    width: 100%;
    height: 112px;
    border-bottom: solid 1px $gray-300;

    img {
      width: 144px;
      height: 80px;
      border-radius: 12px;
    }

    p:nth-of-type(1) {
      font-size: $h3;
      white-space: nowrap;

      &>span {
        margin-left: 8px;
        font-size: $h2;
      }
    }

    p:nth-of-type(2) {
      font-size: $h1;
      margin: 0 0 0 16px;
    }
  }
}

.order-history-title {
  display: flex;
  align-items: center;
  gap: 32px;

  p {
    width: 400px;
    font-size: $h3;
    color: $black-color;
  }
}

.option {
  gap: 24px !important;
  height: 76px !important;
  padding: 0 36px 0 48px !important;

  p:nth-of-type(1) {
    width: 560px;
    font-size: $normal !important;
  }

  p:nth-of-type(2) {
    width: 144px;
    font-size: $normal !important;
    margin-left: 24px !important;
    white-space: nowrap;

    &>span {
      font-size: $h3;
      margin-left: 8px;
    }
  }

  p:nth-of-type(3) {
    font-size: $h2 !important;
    margin: 0 0 0 16px !important;
  }

  .order-buttons {
    margin-left: 16px;
  }
}

.order-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 44px;
    background: $white-color;
    border-radius: 24px;

    &:nth-of-type(1) {
      border: solid 2px $main-dark-color;
    }

    &:nth-of-type(2) {
      border: solid 2px $black-color;
    }
  }

  img:nth-of-type(1) {
    width: 48px;
    height: 32px;
  }

  img:nth-of-type(2) {
    width: 24px;
    height: 24px;
  }
}

.carousels-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.carousels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;

  div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: $gray-300;
    border-radius: 28px;
    cursor: pointer;

    img {
      rotate: -90deg;
    }
  }

  div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: $gray-700;
    border-radius: 28px;
    cursor: pointer;

    img {
      rotate: 90deg;
    }
  }
}

.order-history-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 96px;
  background: $accent-color;
  color: $gray-900;
  font-size: $h3;
  border-radius: 12px;
  margin: 32px auto 0;

  span {
    font-size: $h1;
    margin: 0 8px 0 16px;
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    background: $accent-dark-color;
    font-size: $h2;
    color: $white-color;
    padding: 16px 24px;
    border-radius: 8px;
  }
}

.order-history-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 96px;
  background: $main-color;
  padding: 0 16px;
  margin-top: 40px;

  div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

/* ========== ↓ completed ↓ ========== */

.completed {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 184px;

  h1 {
    font-size: $h1;
    color: $black-color;
  }

  img {
    width: 368px;
    height: 560px;
    margin-top: 16px;
  }
}

.fade-out {
  animation: fadeOut 0.7s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}